
#wrap {
    margin: 0 auto 0px;
  }
  
  #regbar {
    height: 0px;
  }
  
  #navthing {
    margin-left: 0px;
  }
  
  h2 {
    padding: 0px;
    text-align:right;
  }
  
  fieldset {
    border: none;
  }
  
  .login {
    position: absolute;
    width: 350px;
    right:170px;
    display:none;
  }
  
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 80%;
    position: absolute;
    top: -10px;
  }
  
  .formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
  }
  .formholder input[type="email"], .formholder input[type="password"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #00C7CA;
  }
  .formholder input[type="submit"] {
    background: #00C7CA;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
  }
  .formholder input[type="submit"]:hover {
    background: #039B9E;
  }
  
  .randompad {
    padding: 10px;
  }
  
  a:hover {
    color: #fff;
  }
  